{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Hasker sites</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Hasker site ready to use!</h1>
        <a href="{% url 'questions:index' %}">Главная</a><br>
        <input type="search" alt="Search">
        {% if user.is_authenticated %}
        <img src="{{ user.avatar.url }}">
        <a href="#">{{ user.username }}</a>
        <a href="{% url 'user:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'user:login' %}">Log In</a> | <a href="{% url 'user:register' %}">Sing Up</a>
        {% endif %}
        <hr>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>