{% load static %}
<!DOCTYPE html>
<html>
<title>Hasker site</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<body>
<header class="w3-container w3-light-grey">
  <div class="w3-row-padding">
    <div class="w3-third">
        <a href="/"><h1>Hasker</h1></a>
    </div>
    <div class="w3-third w3-padding-24 w3-center-align">
        <form action="" method="post">
            <input class="w3-input w3-border w3-round-xxlarge" type="text" placeholder="Search">
        </form>
    </div>
    <div class="w3-third w3-padding-24 w3-right-align">
  		<a href="{% url 'user:login' %}" class="w3-text-blue">Login</a>
        <a href="{% url 'user:register' %}" class="w3-button w3-white w3-border w3-border-grey w3-round-large">Sung Up</a>
    </div>
  </div>
</header>
<div class="w3-container">
    <div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
        <div class="w3-container w3-padding-16"></div>
 	        <a href="{% url 'queryanswer:ask' %}" class="w3-button w3-block w3-light-grey w3-border w3-border-grey w3-round-large" style="width:50%">Ask!</a>
            <h3 class="w3-bar-item">Trending</h3>
            <p><span class="w3-tag w3-large w3-blue w3-round ">100</span>  How to Python?</p>
            <p><span class="w3-tag w3-large w3-blue w3-round ">100</span>  How to PERL?</p>
        </div>
    </div>
    <div style="margin-right:25%">
        {% block content %}

        {% endblock content %}
    </div>
</div>
<script>
    function openTab(tabName) {
        var i;
        var x = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(tabName).style.display = "block";
    }
</script>
</body>
</html>


