{% extends 'base.html' %}

{% block content %}
<div class="tabs">
    <br id="hot"/>
    <a href="#new">New questions</a><a href="#hot">Hot question</a>
    <div>
        <a href="{% url 'queryanswer:ask' %}">Ask!</a>
        <ul>
            {% for question in questions %}
            <li>
                Votes: 2 | Answers: {{ question.answer_set.count }} <a href="{% url 'queryanswer:question' question.slug %}">{{ question.title}}</a>
                <a href="{% url 'user:settings' %}">{{ question.user }}</a> asked {{ question.created | date}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <p>Список горячих запросов</p>
    </div>
</div>
{% endblock content %}